/* 
***** Flip Card Effect *****
*/

/* Define the region of thecard */
.container-thecard {
  width: 300px;
  height: 300px;
  position: relative;
}

.thecard {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  /* transition: all 0.5s cubic-bezier(0.7, -0.5, 0.3, 1.1); */
  transition: all 0.5s ease-in;
}

/* flip back & front */
.thecard:hover {
  transform: rotateX(0.5turn);
}

/* the front of thecard */
.thecard-front {
  position:absolute;
  width: 100%;
  height: 100%;
  border-style: solid;
  backface-visibility: hidden;  /* avoid flickering */
  background: #fff;
  color: #333;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #45505b;
  /* style can be different */
  padding: 15px;
  text-align: center;
}

/* the back of thecard */
.thecard-back {
  position:absolute;
  width: 100%;
  height: 100%;
  border-style: solid;
  backface-visibility: hidden;  /* avoid flickering */
  background: #e1edf9;
  color: #333;
  transform: rotateX(0.5turn);  /* flip effect */
  /* transform: rotateX(180deg);  flip effect */
  border-radius: 20px;
  box-shadow: 5px 5px 5px #45505b;
  text-align: justify;  
}